.wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
  color: #ff0051;
}
.descr {
  font-size: 2vw;
  text-align: center;
  color: #97556a;
  line-height: 1.5;
  margin-top: 15px;
  max-width: 80%;
}
